 # 서브쿼리 분류
서브쿼리에 메인 쿼리의 컬럼이 포함되는지에 따라 구분
- 연관 서브쿼리
- 비연관 서브쿼리

<br>

## 연관 서브쿼리
메인쿼리의 컬럼이 서브쿼리에 포함되며, 메인쿼리의 컬럼은 서브쿼리에 특정 조건으로 사용된다.

<br>
## 비연관 서브쿼리
메쿼리 컬럼이 서브쿼리에 포함되지 않으며, 주로 메인 쿼리에 특정한 값을 제공할 때 사용된다.

### 동작하는 방식에 따른 서브쿼리 분류 - 연관 서브쿼리
지시사항<br>
직원의 관리자 급여를 추출하는 서브쿼리를 WHERE문 조건에 응용하고 연관 서브쿼리 개념을 이용하여, 직원의 급여가 직원의 관리자 급여보다 높거나 같은 직원 ID(employee_id) 를 조회해 봅시다.

```sql
DESC EMPLOYEE;

-- 자신의 관리자의 급여보다 높거나 같은 급여를 가진 직원의 ID를 출력하는 쿼리를 작성해봅시다.

SELECT * FROM EMPLOYEE;

SELECT a.employee_id
FROM EMPLOYEE AS a
WHERE a.salary >=(
    SELECT salary
    FROM EMPLOYEE b
    WHERE a.manager_id = b.employee_id
                )
```

### 동작하는 방식에 따른 서브쿼리 분류 - 비연관 서브쿼리
지시사항<br>
급여가 8,000 미만인 직원의 관리자 ID 를 추출하는 서브쿼리를 WHERE문 조건에 응용하고 비연관 서브쿼리 개념을 이용하여, 급여가 8,000 미만인 직원의 관리자 ID(employee_id)와 급여(salary) 를 조회해 봅시다.

```sql
DESC EMPLOYEE;

-- 급여가 8000미만인 직원의 관리자 아이디와 급여를 출력하는 쿼리를 작성하세요.

SELECT * FROM EMPLOYEE;

SELECT employee_id, salary
FROM EMPLOYEE 
WHERE employee_id IN (
    SELECT manager_id
    FROM EMPLOYEE
    WHERE salary < 8000
)
ORDER BY employee_id ASC;
```

# 서브쿼리 분류

- 단일 행 서브쿼리
- 다중 행 서브쿼리
- 다중 컬럼 서브쿼리
<br>
### 단일 행 서브쿼리 
서브쿼리의 결과가 한 개의 행을 반환하며, 단일 행 비교 연산자(=, <, >)와 같이 사용된다.

<br>
### 다중 행 서브쿼리
서브쿼리의 결과가 두 개 이상 행을 반환할 수 있으며, 다중 행 비교 연산자(IN, ALL, ANY, EXISTS)와 같이 사용된다.

|특징|설명|
|-|-|
|IN|서브쿼리 겨로가에 존재하는 값들 중 하나와 일치해야 한다.|
|EXISTS|서브쿼리 결과 값이 존재하는지 여부를 확인한다.|
|ALL|서브쿼리 결과에 존재하는 모든 값들에 대해 조건을 만족해야 한다.|
|ANY|서브쿼리 결과에 존재하는 값들 중 조건을 만족하는 것이 하나 이상 존재해야 한다.|

### 다중 컬럼 서브쿼리
사브쿼리의 결과가 여러 개의 컬럼을 반환하며, 메인쿼리의 조건과 동시에 비교된다.

### 반환되는 데이터 형태에 따른 서브쿼리 분류 - 단일 행 서브쿼리
지시사항
1. WHERE문을 이용하여, REQUEST 테이블에서 요청상태가 FAILED인 데이터의 요청 ID(request_id)를 출력하는 쿼리를 작성해봅시다.
2. 1번에서 조회한 쿼리를 서브쿼리로 이용하여, REQUEST_DTL 테이블에서 해당 요청 ID에 대한 상세정보(요청 상세 ID(request_dtl_id), 요청 ID(request_id), 요청 이름(request_name), 요청 내용(request_content))를 출력하는 쿼리를 작성해봅시다.

```sql
DESC REQUEST;
DESC REQUEST_DTL;

-- 1. 요청상태가 FAILED인 요청 데이터를 조회하는 쿼리를 작성해보세요.
SELECT * FROM REQUEST;
SELECT * FROM REQUEST_DTL;
SELECT request_id
FROM REQUEST
WHERE request_status = 'FAILED';
-- 2. 위에서 작성한 쿼리를 서브쿼리로 이용하여 REQUEST_DTL 테이블에서 요청 상세를 조회하는 쿼리를 작성해보세요.
SELECT request_dtl_id, request_id, request_name, request_content
FROM REQUEST_DTL
WHERE request_id = (
    SELECT request_id
    FROM REQUEST
    WHERE request_status = 'FAILED');


```

### 반환되는 데이터 형태에 따른 서브쿼리 분류 - 다중 행 서브쿼리 IN
지시사항<br>
앞에서 이용했던 서브쿼리와 같이 요청상태가 FAILED인 요청 ID를 조회하는 쿼리를 이용하여, REQUEST_DTL 테이블에서 해당 요청 ID에 대한 상세정보(요청 상세 ID(request_dtl_id), 요청 ID(request_id), 요청 이름(request_name), 요청 내용(request_content))을 출력하는 쿼리를 작성해봅시다.<br>
이때, 요청상태가 FAILED인 요청 데이터가 2개 이상이기 때문에 IN을 이용해보도록 합니다.

```sql
DESC REQUEST;
DESC REQUEST_DTL;

-- 요청상태가 FAILED인 요청ID를 구하고, 해당 요청들에 대한 요청상세 정보를 조회하는 쿼리를 작성해보세요.

SELECT * FROM REQUEST;
SELECT * FROM REQUEST_DTL;

SELECT  request_dtl_id, request_id, request_name, request_content
FROM REQUEST_DTL
WHERE request_id in (
    SELECT request_id
    FROM REQUEST
    WHERE request_status = 'FAILED')
```

### 반환되는 데이터 형태에 따른 서브쿼리 분류 - 다중 행 서브쿼리 EXISTS
지시사항<br>
STORE 테이블을 기준으로 조회하면서 EXISTS문을 응용하여 서브쿼리상에서, PAYMENT 테이블에 대해 STORE 테이블의 가게 ID(store_id)와 일치하고 결제금액이 5,000원 이상인 데이터가 존재하는지를 통해 가게 ID(store_id), 가게 이름(store_name)을 조회하는 쿼리를 작성해보세요.

```sql
DESC STORE;
DESC PAYMENT;
-- EXISTS문을 응용하여, 결제금액이 5000원 이상인 가게ID, 가게이름을 조회하는 쿼리를 작성해보세요.

SELECT store_id, store_name
FROM STORE AS s
WHERE EXISTS(
    SELECT '1000'
    FROM PAYMENT AS p
    WHERE p.pay_amount >= 5000
    AND p.store_id = s.store_id)
ORDER BY store_id ASC;
```

### 반환되는 데이터 형태에 따른 서브쿼리 분류 - 다중 행 서브쿼리 ALL
지시사항<br>
EMPLOYEE테이블에서 직급(position)이 사원인 직원의 급여(salary) 를 조회하는 쿼리를 작성해봅시다.<br>
EMPLOYEE 테이블에 대해, 1번에서 완성한 쿼리와 ALL을 이용하여, 모든 사원들의 급여보다 높거나 같은 급여 를 가진 직원의 직원 ID(employee_id), 급여(salary), 직급(position) 을 조회하는 쿼리를 작성해봅시다.<br>

```sql
DESC EMPLOYEE;

-- 1. 직급이 '사원'인 직원의 급여를 조회하는 쿼리를 작성해봅시다.
SELECT * FROM EMPLOYEE;

SELECT salary
FROM EMPLOYEE
WHERE position = '사원'
ORDER BY salary ASC;
-- 2. 앞에서 작성한 쿼리와 ALL을 이용하여, 모든 사원들의 급여보다 높거나 같은 급여를 가진 직원을 조회하는 쿼리를 작성해봅시다.
SELECT employee_id, salary, position
FROM EMPLOYEE 
WHERE salary >= all(
    SELECT salary
    FROM EMPLOYEE 
    WHERE position = '사원'
)


```

### 반환되는 데이터 형태에 따른 서브쿼리 분류- 다중 행 서브쿼리 ANY
지시사항<br>
FOOD테이블에서 음식 타입(food_type)이 Main인 임의(ANY)의 음식 가격(price) 보다 가격이 비싼 음식들의 음식 ID(food_id), 음식 타입(food_type), 음식 이름(food_name), 가격(price) 을 조회하는 쿼리를 작성해봅시다.

```sql
DESC FOOD;

-- 음식타입이 Main인 임의의 음식의 가격보다 비싼 음식들을 조회해봅시다.
SELECT * FROM FOOD;

SELECT food_id, food_type, food_name, price
FROM FOOD
WHERE price > ANY(
    SELECT price
    FROM FOOD
    WHERE food_type = 'MAIN')
ORDER BY food_id ASC;
```

### 반환되는 데이터 형태에 따른 서브쿼리 분류 - 다중 컬럼 서브쿼리
지시사항<br>
BOOK_STOCK테이블에서 재고(stock)가 1 이상인 데이터의 책 제목(book_name), 책 작가(book_writer) 를 조회하는 서브쿼리를 만들고, 이를 BOOK테이블에 WHERE와 IN을 이용해 책 ID(book_id), 책 제목(book_name), 책 작가(book_writer), 가격(price) 을 조회하는 쿼리를 작성해봅시다.

```sql
DESC BOOK;
DESC BOOK_STOCK;
-- BOOK_STOCK 테이블에서 재고가 1이상인 데이터의 책이름, 책작가 정보를 조회후, BOOK테이블에 IN을 활용하여 조회하는 쿼리를 작성해봅시다.

SELECT * FROM BOOK;
SELECT * FROM BOOK_STOCK;

SELECT book_id, book_name, book_writer, price
FROM BOOK
WHERE (book_name, book_writer) in
(   SELECT book_name, book_writer
    FROM BOOK_STOCK
    WHERE stock >=1)
ORDER BY book_id ASC;
```

# 스칼라 서브쿼리
하나의 속성을 가지면서, 하나의 행만을 반환하는 쿼리이다.<br>
그리고 이는 SELECT, WHERE, HAVING 절 등에서 사용할 수 있다.

### 스칼라 서브쿼리
지시사항<br>
LECTURE_TYPE 테이블에 대해, 타입 ID(type_id), 타입 이름(type_name), 타입별 강의 개수를 조회하는 쿼리를 작성하세요.<br>
이때, LECTURE 테이블과 COUNT를 응용하여 강의 타입 ID(lecture_type_id)와 타입 ID(type_id) 가 일치하는 조건으로, 타입별 강의 개수를 구하는 서브쿼리를 만들어야 합니다.

```sql
DESC LECTURE;
DESC LECTURE_TYPE;

-- 타입ID, 타입이름, 타입에 해당하는 강의의 수를 조회하는 쿼리를 작성해봅시다.

SELECT * FROM LECTURE;
SELECT * FROM LECTURE_TYPE;

SELECT type_id, type_name,
    (SELECT COUNT(*)
    FROM LECTURE AS l
    WHERE l.lecture_type_id = t.type_id
)
FROM LECTURE_TYPE as t
ORDER BY type_id ASC;


```

# 뷰 
뷰는 다른 테이블에서 파생된 테이블이다.<br>
물리적으로 데이터가 저장되는 것이 아니라, 논리적으로만 존재하며 뷰를 사용한 질의 시에는 DBMS에서 뷰 정의에 따라 질의를 재작성하여 수행한다.

|특징|설명|
|-|-|
|독립성|테이블 구조가 변경되어도 뷰를 사용하고 있는 응용프로그램은 변경하지 않아도 된다.|
|편리성|자주 사용되는 복잡한 쿼리를 미리 뷰를 정의해 놓으면, 추후 쿼리는 간단한 형태로 표현할 수 있다.|
|보안성|사용자의 권한에 따라 열람 가능한 데이터를 다르게할 수 있다. 권한에따라 확인가능한 컬럼을 정의하여 뷰를 생성하면, 기본테이블 노출 없이 접근 제어를 할 수 있다.|

### 특징
- 생성된 뷰는 또 다른 뷰를 생성하는데 사용될 수 있다.
- 뷰의 정의는 변경할 수 없으며, 삭제 후 재생성이 필요하다.
- 뷰를 통한 갱신에는 제약이 따른다. 갱신을 위해서는 기본적으로 원천 테이블의 기본키가 포함되어야 한다.
- 원천이 되는 테이블이나 뷰가 삭제되면 이를 기반으로 하는 뷰도 함께 삭제된다.

### 뷰 
지시사항
1. EMPLOYEE테이블에서 부서 이름(department_name)이 ‘개발’ 인 직원들의 직원 ID(employee_id), 급여(salary) 정보를 가지는 EMPLOYEE_DEV 뷰(View) 를 만드는 쿼리를 작성해봅시다.
2. 1번에서 만든 EMPLOYEE_DEV 뷰에 대하여 뷰의 모든 데이터를 출력하는 쿼리를 작성하세요.

```sql
DESC EMPLOYEE;

-- 1. 부서이름이 '개발'인 직원의 직원ID, 급여 정보를 가지는 뷰(EMPLOYEE_DEV)를 만드는 쿼리를 작성해봅시다.
CREATE VIEW EMPLOYEE_DEV AS(
    SELECT employee_id, salary
    FROM EMPLOYEE
    WHERE department_name ='개발');

-- 2. 위에서 만든 뷰(EMPLOYEE_DEV)의 모든 데이터를 조회하는 쿼리를 작성해봅시다.
SELECT * FROM EMPLOYEE_DEV;
```